# Файл .gitignore для BarsikCMD
# Версия: 1.0
# Последнее обновление: 10.03.2026 11:31
# Создал: barsik0396 (создатель BarsikCMD)
#
# Виджет для размера файла
#file_size_widget.py
# Папка ignore
#ignore
# Media-файлы
#mediamedia/documentation/node_modules/
media/documentation/dist/
