# Файл .gitignore для BarsikCMD
# Создал: barsik0396 (создатель BarsikCMD)
#
# Media-файлы
media/documentation/node_modules/*
media/documentation/dist/*
# Файлы сборки
code/linux/mint/build/barsik-cmd_2026.3.12.1_amd64/usr/local/bin/BarsikCMD_DOCS/*
code/linux/mint/build/*.deb
code/linux/mint/build/barsik-cmd_2026.3.12.1_amd64/usr/local/bin/BarsikCMD_DOCS/barsikcmd-docs
