# BarsikCMD .gitignore

# Зависимости документации
media/documentation/node_modules/
media/documentation/dist/

# Артефакты сборки
code/linux/mint/build/*.deb
code/linux/mint/build/barsik-cmd_*/usr/local/bin/BarsikCMD_DOCS/

# Локальные и временные папки
ignore/
test/
builder/
old/
BarsikCMD-OS/
netlify/
examples/
models/
temp/
*.iso

# Артефакты расширения
extension/*.vsix

# Java-архивы (для совместимости с BFG)
*.jar
